:root{
  --menu-border-color:#073741;
  --menu-disabled-color:#122130;
  --menu-btn-color:#5C94A3;
  --hover-btn-color:#5eabc3;
  --btn-menu-active-color:#ffaa55;
  --color-font: #D43A43;
  --color-scrollbar:#F9A467;
  --background-color:#fff0dd;
  --background-shadow: #fcd9ad;
  --content-font-size:1.2rem;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/* BUTTONS / MENU */

.menu{
  background: var(--menu-border-color);
  width: 260px;
  min-height: 94.6vh;
  text-align: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
  transition: all 0.4s ease;
  position:absolute;
}
.menuHeading{
  color: var(--background-color);
  text-transform: uppercase;
}
.btn-menu{
  border-radius: 0.7em;
  width: 100%;
  margin-top: 10px
}
.btn-group-menu{
  margin-bottom: 10px;
}

.btn-group-menu,.btn-menu{
  background: var(--menu-btn-color);
  border: var(--menu-border-color) 0.09em solid!important;
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--content-font-size) !important;
}
.btn-group-menu:disabled,.btn-menu:disabled,.content-tab-parent:disabled{
  background: var(--menu-disabled-color);
}

.btn-group-menu:active,.btn-menu:active,.content-tab-parent:active{
  background: var(--menu-border-color)!important;
  border-color: var(--menu-border-color)!important;
}

.btn-group-menu:hover,.btn-menu:hover,.content-tab-parent:hover{
  background: var(--hover-btn-color);
  color: var(--menu-border-color);
  border-color: var(--menu-btn-color)!important;
  transition: 0.3s;
}

.btn-group-menu:last-child{
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
}

.btn-group-menu:first-child{
  border-top-left-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
}

.active_{
  background: var(--btn-menu-active-color)!important;
  color: var(--menu-border-color)!important;
}
.active_:hover{
  color: var(--background-color)!important;
  background: var(--btn-menu-active-color);
  border-color: var(--hover-btn-color);
}
/* CONTAINER */

.container{
  border: var(--menu-border-color) 2px solid;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  width: 95vw;
  height: 95vh;
  background: var(--background-color);
  overflow-y:scroll;
  position: relative;
}
.container::-webkit-scrollbar{
  width: 13px;
}
.container::-webkit-scrollbar-track{
  background: var(--color-scrollbar);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: 1px var(--menu-border-color) solid;
}
.container::-webkit-scrollbar-thumb{
    background: var(--color-font);    /* color of the scroll thumb */
    border-radius: 10px; 
}
.row{
  height: 100%;
}
.main{
  padding: 0;
}
.content{
  padding: 10px;
}
/* BANNER */
.banner{
  background: var(--menu-btn-color);
  margin: 0;
  padding: 5px 5px 15px 15px;
  width: 100%!important;
  border-top-left-radius: 7px;
  text-align: center;
  min-height: 125px;
  display:flex;
  flex-direction: column;
  border-bottom: var(--menu-border-color) 2px solid;
}

.BannerHeading{
  text-transform: uppercase;
}
/* ICONS */
.icon-open{
  color: var(--background-color);
  font-size: 25px;
}
.icon-close{
  color: var(--menu-btn-color);
  font-size: 25px;
}
/* TAB */
.content-tab {
  border: 2px solid var(--menu-border-color);
  padding: 0.5rem!important;
  margin: 0;
  border-bottom-left-radius: 5px;  
  border-bottom-right-radius: 5px;
  border-top: none;
  font-size: 1rem;
  color: var(--menu-border-color);
  background: rgb(255, 249, 237);
}
.content-tab:first-child{
  align-self: flex-start;
}
  
.content-tab-parent {
  background: var(--menu-btn-color);
  color: var(--background-color);
  border-color: var(--menu-border-color);
  border-width: 2px;
  text-transform: uppercase;
  margin: 0;
  border-radius: 10px;  
  width: 100%;
  transition: 0.3s;
  font-size: var(--content-font-size) ;
  text-align: start;
  margin-top: 10px;
}

.content-tab-img{
  background: url('https://picsum.photos/id/237/150/200');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fill;
  width: 150px;
  height: 200px;
  background-size: auto;
  border-radius: 6px;
  border: var(--color-scrollbar) 2px solid;
}
.opened{
  border-bottom-left-radius: 0;  
  border-bottom-right-radius: 0;
  transition: 0.3s;
}
.tabs-menu{
  position: absolute;
  top: 5.3rem;
  border-bottom: none!important;
  
}
.nav-link{
  background: var(--background-shadow);
  margin-left: 6px;
  padding: 5px 15px 7px 15px;
  text-transform: uppercase;
  border: var(--menu-border-color) 2px solid !important;
  color: var(--menu-border-color);
}
.nav-link:hover{
  color: var(--menu-disabled-color);
}
.nav-link.active{
  background: var(--background-color)!important;
  border-bottom:var(--background-color) 3px solid!important;
}
/* ALERT */
.alert-span-danger{
  color: var(--background-color);
  background-color: var(--color-scrollbar);
  border:var(--color-font) 2px solid;
  font-size: var(--content-font-size) ;
}
/* MEDIATAGS */
@media screen and (max-width: 467px) {
  .container{
    width: 99vw;
  }
}
@media screen and (max-width: 767px) {
  .menu,.btn-group-menu,.btn-menu{
    font-size: 1rem !important;
  }
}
